# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets & Processed Data
data/processed/
datasets/

# Logs & Models
logs/
*.log

# Large Generated Embeddings & FAISS Index
embeddings/*.npy
embeddings/*.index
embeddings/*.csv

# Local Environment & Storage
.env
qdrant_storage/

